<div class="row">

  <div class="col-xl-12 col-sm-10 col-md-8 col-md-2">

    <form [formGroup]="loginForm" (ngSubmit)="onSignup()" >

      <control-feedback
        [labelText]="'Mail'"
        [formGroup]="loginForm"
        [controlName]="'login'"
        [errorDefs]="{
          required: 'Login is required',email: 'Please enter login in valid mail format',
          userAlreadyExists:'User with the same mail already exists'}">

        <input  type="email" id="login" formControlName="login" class="form-control" >

      </control-feedback>

      <control-feedback
        [labelText]="'Password'"
        [formGroup]="loginForm"
        [controlName]="'password'"
        [errorDefs]="{required: 'Password is required'}">
        <input type="password" id="password" formControlName="password" class="form-control">
        </control-feedback>

      <button class="button btn btn-success" type="submit"  [disabled]="!loginForm.valid">Sign Up</button>

    </form>

    </div>

</div>
