<div class="row">

  <div class="col-xl-12 col-sm-10 col-md-8 col-md-2">

    <form [formGroup]="loginForm" (ngSubmit)="onSignup()" >

      <control-feedback
        [labelText]="'Mail'"
        [formGroup]="loginForm"
        [controlName]="'login'"

        [errorDefs]="{required: 'Login is required'}">

        <input  #ref type="email" id="login" formControlName="login" class="form-control" >

      </control-feedback>

      <control-feedback
        [labelText]="'Password'"
        [formGroup]="loginForm"
        [controlName]="'password'"
        [errorDefs]="{required: 'Password is required'}">
        <input type="password" id="password" formControlName="password" class="form-control" [ngClass]="{'is-invalid': loginForm.controls.password.invalid  && (loginForm.controls.password.touched || loginForm.controls.password.dirty)}">
        </control-feedback>

      <button class="button btn btn-success" type="submit"  [disabled]="!loginForm.valid">Sign Up</button>

    </form>

    </div>

</div>
