<div class="container mt-5">

  <div class="input-group mb-3 w-50">
    <input type="text" class="form-control" placeholder="" aria-label="" aria-describedby="basic-addon1" [(ngModel)]="searchName">
    <div class="input-group-append">
      <button class="btn btn-outline-secondary" type="button" (click)="refreshClients()">Search by name</button>
    </div>
  </div>


  <div class="row w-100">
    <div class="col-2 small"><b>Client name</b></div>
    <div class="col-2 small"><b>Addresses count</b></div>
    <div class="col-1 small"></div>
    <div class="col-1 small"></div>
  </div>
  <div class="accordion" id="accordion">
    <edit-my-client-list-item *ngFor="let client of clients"
                              [client]="client"
                              (clientsRefreshEvent)="refreshClients()"
                              (clientLocationAddEvent)="clientLocationAddDialogShow($event)">
    </edit-my-client-list-item>
  </div>


  <button type="button" class="btn btn-success btn-sm" data-toggle="modal" data-target="#exampleModal" data-whatever="@mdo" id="clientDialog" >Create new client</button>

</div>

<edit-my-client-with-adress (clientCreated)="onCreatedItem($event)" [client]="currentClient" [clientLocation]="currentClientLocation"></edit-my-client-with-adress>
