<div class="container mt-5">

  <div class="input-group mb-3 w-50">
    <input type="text" class="form-control" placeholder="" aria-label="" aria-describedby="basic-addon1">
    <div class="input-group-append">
      <button class="btn btn-outline-secondary" type="button">Search by name</button>
    </div>
  </div>


  <div class="row w-100">
    <div class="col-2 small"><h5>Client name</h5></div>
  </div>
  <edit-my-client-list-item *ngFor="let client of clients" [client]="client"> </edit-my-client-list-item>



  <button type="button" class="btn btn-primary" data-toggle="modal" data-target="#exampleModal" data-whatever="@mdo">Create</button>
</div>

<edit-my-client-with-adress (clientCreated)="onCreatedItem($event)"></edit-my-client-with-adress>
