<div class="container mt-5">

  <div class="input-group mb-3 w-50">

    <input type="text" class="form-control" placeholder="" aria-label="" aria-describedby="basic-addon1">

    <div class="input-group-append">
      <button class="btn btn-outline-secondary" type="button">Search by name</button>
    </div>

  </div>

  <button type="button" class="btn btn-primary" data-toggle="modal" data-target="#exampleModal" data-whatever="@mdo">Create</button>

</div>





<edit-my-client-with-adress></edit-my-client-with-adress>
