<div class="row">
  <div class="col-xl-12">
    <img [src]="recipe.imagePath" alt="{{recipe.name}}" class="img-thumbnail" style="max-height: 200px;">
  </div>
</div>
<div class="row">
  <div class="col-xl-12">
    <h1>{{recipe.name}}</h1>
  </div>
</div>
<div class="row">
  <div class="col-xl-12">
      <ul class="btn-group" appDropdown role="group">
        <button type="button"  type="button" class="btn btn-primary dropdown-toggle" data-toggle="dropdown" aria-haspopup="true" aria-expanded="true">
          Manage Recipe <span class="caret"></span>
        </button>
        <div class="dropdown-menu" role="menu">
          <li  class="dropdown-item"><a (click)="onAddToShoppingList()" style="cursor: pointer">To Shopping List</a> </li>
          <li class="dropdown-item"><a href="#">Edit Recipe</a> </li>
          <li class="dropdown-item"><a href="#">Delete Recipe</a> </li>
        </div>
      </ul>
  </div>
</div>
<div class="row">
  <div class="col-xl-12">
    {{recipe.description}}
  </div>
</div>
<div class="row">
  <div class="col-xl-12">
    <ul class="list-group">
      <li class="list-group-item" *ngFor="let ingredient of recipe.ingredients">
        {{ingredient.name}}- {{ingredient.amount}}
      </li>
    </ul>
  </div>
</div>


