<div class="card">
  <div class="card-header" id="heading{{client.id}}">
    <h5 class="mb-0">
      <div class="row w-100">
        <div class="col-3 small input-group-sm">
          <button class="btn btn-link collapsed" type="button" data-toggle="collapse" attr.data-target="#collapse{{client.id}}"
              attr.aria-expanded="{{expanded}}" attr.aria-controls="collapse{{client.id}}">{{client.name}}
          </button>
        </div>

        <div class="col-1 small input-group-sm">{{client.clientLocations.length}}</div>
        <div class="col-4 small input-group-sm mt-1">
          <button type="button" class="btn btn-danger btn-sm mr-1" (click)="onClientDeleteClick()">Remove client
          </button>
          <button type="button" class="btn btn-success btn-sm" (click)="onClientLocationAddClick()">Add address</button>
        </div>
      </div>
    </h5>
  </div>
  <div id="collapse{{client.id}}" class="collapse" attr.aria-labelledby="heading{{client.id}}" data-parent="#accordion">
    <div class="card-body">
      <div class="row w-100">
        <div class="col-2 small"><b>City</b></div>
        <div class="col-2 small"><b>Street</b></div>
        <div class="col-2 small"><b>Nr</b></div>
        <div class="col-3 small"></div>
      </div>
      <edit-my-client-locations-list-item *ngFor="let clientLocation of client.clientLocations" [clientLocation]="clientLocation"></edit-my-client-locations-list-item>
    </div>
  </div>

</div>


